
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');



*{
    margin: 0%;
    padding: 0%;


   
}
.quizMainDiv{
 
 height: 63vh;
 width: 100%;
 position: absolute;



 font-family: 'Shadows Into Light', cursive;

}





.slika{
    height: 55%;
    width: 100%;
}



.questionsMaincontainer{
    height: 20vh;
    width: 100%;
    position: absolute;
    top: 70%;
    font-family: 'Architects Daughter', cursive;

}

@media only screen and (max-width: 1350px) {

    .slika{
        height: 50%;
        width: 100%;
    }
 
   
  }
  
@media only screen and (max-width: 1250px) {

    .slika{
        height: 50%;
        width: 100%;
    }
 
   
  }
  @media only screen and (max-width: 1170px) {

    .slika{
        height: 60%;
        width: 100%;
    }
 
   
  }
  @media only screen and (max-width: 995px) {

    .slika{
        height: 60%;
        width: 100%;
    }
 
   
  }


@media only screen and (max-width: 768px) {

    .slika{
        height: 85%;
        width: 100%;
    }
    .t{
        font-size: 1em;
    }

   
  }
  @media only screen and (max-width: 758px) {

    .slika{
        height: 90%;
        width: 100%;
    }
    .t{
        font-size: 1em;
    }

   
  }
  
@media only screen and (max-width: 700px) {

    .slika{
        height: 95%;
        width: 100%;
    }
    .t{
        font-size: 1em;
    }

   
  }


  @media only screen and (max-width: 600px) {

    .slika{
        height: 100%;
        width: 100%;
    }
    .t{
        font-size: 1em;
    }

   
  }



  @media only screen and (max-width: 500px) {

    .slika{
        height: 125%;
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {

    .slika{
        height: 135%;
        width: 100%;
    }

   
  }
 




  @media only screen and (max-width: 400px) {

    .slika{
        height: 150%;
        width: 100%;
    }

   
  }
 

   
  

